<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Express App</title>
</head>
<body>
    <h1><%= message %></h1>
    <div class="login"><a href="/userLogin.html">Login</a></div>
    <div class="signup"><a href="/userSignup2.html">Don't have and acoount? Sign up</a></div>
    <div class="bankLogin"><a href="/htmlPages/bankLogin.html">Bank Login</a></div>    
    <div class="BankSignup"><a href="/htmlPages/bankSignup.html">Bank signup</a></div>

</body>
</html>